.todo-list {
    display: grid;
    row-gap: 14px;
}


.todo-item {
    position: relative;
    background: white;
    padding: 16px;
    border-radius: 8px;
    color: #626262;
}

.todo-item label {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.todo-item.done label {
    text-decoration: line-through;
    font-style: italic;
}

.todo-item label span.check-button {
    position: absolute;
    top: 0;
}

.todo-item label span.check-button::before,
.todo-item label span.check-button::after {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.todo-item label span.check-button::before {
    border: 1px solid #b382f9;
}

.todo-item label span.check-button::after {
    transition: 0.4s;
    background: #b382f9;
    transform: translate(1px, 1px) scale(0.8);
    opacity: 0;
}

.todo-item input {
    margin-right: 16px;
    opacity: 0;
}

.todo-item input:checked + span.check-button::after {
    opacity: 1;
}
.todo-item button.del-button{
    position: absolute;
    cursor: pointer;
    padding: 0 5px;
    height: 100%;
    z-index: 100;
    top:50%;
    right: 0;
    transform: translateY(-50%);
    border: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    color: #fff;
    background-color: orangered;
}
.todo-item button.del-button span{

}